body {
  background: rgb(245, 239, 234);
  padding: 50px;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

div {
  max-width: 600px;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin-top: 50px;
}

p {
  line-height: 1.5;
  font-size: 22px;
}
aside {
  background: #f0f0f0;
  padding: 10px;
  width: 200px;
  float: right;
  margin-right: 400px;
  margin-top: -400px;
}
