* {
    margin: 0;
    padding: 0;    
}

body {
    background-color: #cdbcff;
}

header {
    width: 100%;
    height: 10%;
    background-color: #ffd800;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    outline: 2px solid #000;
}

main {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

footer {
    width: 100%;
    height: 10%;
    background-color: #ffd800;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    outline: 2px solid #000;
    margin-top: 40.5%;
}

a {
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
}

a:hover {
    color: red;
}

.maincontent {
    width: 65%;
    background-color: #66f126;
    font-weight: bold;
    outline: 2px solid #000;
    text-align:center;
}

.sidebar {
    width: 33%;
    margin-left: 1%;
    background-color: #d5e41d;
    text-align: center;
    float: right;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-weight: bold;
    outline: 2px solid #000;
}

.h1 {
    text-align: center;
}

.flex-inline-calc{
    display: inline-flex;
}
.input-calc{
    width:50px;
}